@use "vuetify/settings" with (
  $alert-title-letter-spacing: 0,
  $button-text-letter-spacing: 0,
  $card-title-letter-spacing: 0,
  $card-subtitle-letter-spacing: 0,
  $card-text-letter-spacing: 0,
  $dialog-card-text-letter-spacing: 0,
  $field-letter-spacing: 0,
  $icon-letter-spacing: 0,
  $input-details-letter-spacing: 0,
  $label-letter-spacing: 0,
  $list-item-nav-title-letter-spacing: 0,
  $list-item-nav-subtitle-letter-spacing: 0,
  $list-item-subtitle-letter-spacing: 0,
  $list-item-title-letter-spacing: 0,
  $snackbar-letter-spacing: 0,
  $system-bar-letter-spacing: 0,
  $toolbar-title-letter-spacing: 0,
  $toolbar-prominent-title-letter-spacing: 0
);