@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.font {
    &-subtitle {
        font-size: $font-size-subtitle !important;
    }
    &-normal {
        font-size: $font-size-normal !important;
    }
    &-weight-black {
        font-weight: $font-weight-black !important;
    }
}
