$font-size-biggertitle: 36px;
$font-size-bigtitle: 32px;
$font-size-title: 24px;
$font-size-subtitle: 20px;
$font-size-large: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-smaller: 8px;
$font-weight-semibold: 600;
$font-weight-black: 900;

$color-primary: #008CFF;
$color-primary-60: #F6F6F6;
$color-secondary: #82C4FA;
$color-font-100: #121212;
$color-font-60: #A4A4A4;
$color-font-10: #FFFFFF;